<%#= params[:controller] %>
<div id="left-body">
  <h1><%=raw @artist.name %></h1>
  <ul class="artist-menu">
    <li class="<%= params[:controller] == 'refinery/works/works' ? 'current': '' %>">
      <%= link_to "works", refinery.works_works_path(:artist_id => @artist.id)%>
    </li>
    <% if @artist.biography -%>
      <li class="<%= params[:controller] == 'refinery/biographies/biographies' ? 'current': '' %>">
        <%= link_to "biografie", refinery.biographies_biography_path(@artist.biography) %>
      </li>
    <% end -%>
    <% if @artist.exhibition -%>
      <li class="<%= params[:controller] == 'refinery/exhibitions/exhibitions' ? 'current': '' %>">
        <%= link_to "exhibitions", refinery.exhibitions_exhibition_path(@artist.exhibition) %>
      </li>
    <% end -%>
    <li><%#= link_to "catalogue", "" %></li>
    <li><%#= link_to "texts", "" %></li>
  </ul>
</div>
